body{
  background-color: #FBF9FF;

}

div{
  width: auto;;

}
header{
  text-align: center;
  text-shadow: 3px, 3px, 5px, blue;
  font-size: 30px;
  color: white;

}

form{
  text-align: center;
  align-content: center;
  width: auto;;

}

fieldset{
  width: auto;;
  height: 75px;
  align-self: center;
}

legend{
  font-size: 24px;
  text-align: center;
  width: auto;;
}

button{
  display: inline-block;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  background-color: #354C4A;
  color: white;

}

button:hover{
  transform: scale(1.15);
}



#keepGoingBut{
margin-right: 10px;

}
#butResults{
  margin-left: 10px;
}
#questionForm{
  align-content: center;
}

.contain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 1s;
}
.ranImg {
  width: 250px;
  height: 250px;
  transition: all 1s;
  border-radius: 25px;
}

.ranImg:hover {
transform: scale(1.25);

}

.chartArea{
  margin-left: 200px;
  margin-top: 75px;
}

.form{
  margin-bottom: 100px;
}
